<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
	<meta name="description" content="data-driven full-stack web-application" />
    <title>Profile</title>

	<!-- Bootstrap core CSS -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
      crossorigin="anonymous"
    />
</head>

<body>
    <%- include("../common/header"); -%>
	<div class="container col-md-4 col-md-offset-4 form-card text-center">
		<div>
			<h2>Details for <%- user.name -%></h2>
		</div>
		<div>
				<table class="table text-center">
					<tr>
						<td>Name</td>
						<td>
							<%= user.name %>
						</td>
					</tr>
					<tr>
						<td>Email</td>
						<td>
							<%= user.email %>
						</td>
					</tr>
					<tr>
						<td>Verified</td>
						<td>
							<%= user.verified %>
						</td>
					</tr>
					<tr>
						<td>Administrator</td>
						<td>
							<%= user.isAdmin%>
						</td>
					</tr>
					<tr>
						<td>Joined</td>
						<td>
							<%= joined.toLocaleDateString('en-GB') %>
						</td>
					</tr>
					<tr>
						<td>Accounts</td>
						<td>
							<%= accounts %>
						</td>
					</tr>
					<tr>
						<td>Transactions</td>
						<td>
							<%= transactions %>
						</td>
					</tr>
					<tr>
						<td>
							<a  href="/close" class="btn btn-danger btn-xs"><span class="glyphicon glyphicon-remove"></span> Close Account</a>
						</td>
						<td>
							<a  href="/refresh" class="btn btn-secondary btn-xs"><span class="glyphicon glyphicon-refresh"></span> Refresh Session</a>
						</td>
						<td>
							<a  href="/update" class="btn btn-primary btn-xs"><span class="glyphicon glyphicon-remove"></span> Update Details</a>
						</td>
					</tr>

				</table>
		</div>
	</div>
</body>

</html>
